{% comment %}
 _   _
| | | |
| | | |___  ___ _ __ ___
| | | / __|/ _ \ '__/ __|
| |_| \__ \  __/ |  \__ \
 \___/|___/\___|_|  |___/
{% endcomment %}

{% if site.project == "pier_users" %}
{% assign audience = "users" %}
{% assign sidebar = site.data.pier.sidebar.entries %}
{% assign topnav = site.data.pier.topnav.topnav %}
{% assign topnav_dropdowns = site.data.pier.topnav.topnav_dropdowns %}
{% assign version = site.version %}
{% assign product = site.product %}
{% assign platform = site.platform %}
{% assign projectTags = site.data.pier.tags.allowed-tags %}
{% assign projectFolder = "pier" %}
{% endif %}
